In [1]:
import numpy as np

In [8]:
import pandas as pd
from numpy.random import randn

In [3]:
outside = [ 'G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1  0.399924  1.607414
   2 -0.507224 -1.373558
   3  0.050769 -0.099006
G2 1  0.167267  0.411849
   2 -0.569829 -0.317219
   3  0.125409  0.632819

In [11]:
df.loc['G1']

          A         B
1  0.399924  1.607414
2 -0.507224 -1.373558
3  0.050769 -0.099006

In [12]:
df.loc['G1'].loc[1]

A    0.399924
B    1.607414
Name: 1, dtype: float64

In [13]:
df.index.names= ['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1    0.399924  1.607414
       2   -0.507224 -1.373558
       3    0.050769 -0.099006
G2     1    0.167267  0.411849
       2   -0.569829 -0.317219
       3    0.125409  0.632819

In [18]:
df.loc['G2'].loc[2].loc['B']

-0.3172194323280468

In [19]:
df

                   A         B
Groups Num
G1     1    0.399924  1.607414
       2   -0.507224 -1.373558
       3    0.050769 -0.099006
G2     1    0.167267  0.411849
       2   -0.569829 -0.317219
       3    0.125409  0.632819

In [20]:
df.loc['G1']

            A         B
Num
1    0.399924  1.607414
2   -0.507224 -1.373558
3    0.050769 -0.099006

In [22]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.399924  1.607414
G2      0.167267  0.411849

In [23]:
df.xs(3,level='Num')

               A         B
Groups
G1      0.050769 -0.099006
G2      0.125409  0.632819