In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
my_data

[10, 20, 30]

In [6]:
arr

array([10, 20, 30])

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(data= labels)

0    a
1    b
2    c
dtype: object

In [15]:
ser1 = pd.Series([1,2,3,4,],['USA','GERMANY','USSR','JAPAN'])

In [16]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,3,4],['USA','GERMANY','ITALY','JAPAN'])

In [2]:
import pandas as pd

ser3 = pd.Series(data = labels)

In [3]:
ser3

NameError: name 'ser3' is not defined

In [4]:
ser1

NameError: name 'ser1' is not defined